<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <title>{% block title %}Git-Mo-Money{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>
    <div class="container">
        <div class="title-box-top-left">
            <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='git-mo-money.png') }}"></a>
        </div>
        {% block container %}{% endblock %}
    </div>
</body>
</html>