<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Git-Mo-Money</title>
    <meta name="description" content="Commit for money with Github and Venmo">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title-box">
            <img src="{{ url_for('static', filename='git-mo-money.png') }}">
        </div>
        <div class ="subtitle-box">
            <span>An error seems to have occured, return to the home page to get started</span>
        </div>
    </div>
</body>

</html>
