<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Git-Mo-Money</title>
    <meta name="description" content="Commit for money with Github and Venmo">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title-box">
            <img src="{{ url_for('static', filename='git-mo-money.png') }}">
        </div>
        <div class ="subtitle-box">
            <span>Commit for money with Github and Venmo</span>
        </div>
        <div class="button-box">
            <a href="{{ url_for('get_started') }}">
                <div class ="button">
                    <span>Get Started</span>
                </div>
            </a>
        </div>
    </div>
</body>

</html>
