<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Git-Mo-Money</title>
    <meta name="description" content="Commit for money with Github and Venmo">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title-box">
            <span id="title">git-mo-money</span>
        </div>
        <div class ="subtitle-box">
            <span>Enter the options for this git-mo-money</span>
        </div>
        <div class="form-box">
            <form action="" method="post" class="custom">{{ form.csrf_token }}
                <div>
                    {{ form.max_money.label }}
                    {{ form.max_money }}<br>
                    {{ form.num_commits.label }}
                    {{ form.num_commits }}<br>
                    {{ form.num_lines.label }}
                    {{ form.num_lines }}<br>
                    {% for collab in collaborators %}
                        {{ form.__getitem__(collab).label }}
                        {{ form.__getitem__(collab) }}<br>
                    {% endfor %}
                </div>
                <input type="submit" value="Continue" class="button" />
            </form>
        </div>
    </div>
</body>

</html>
