{% extends "base.html" %}

{% block container %}
        <div class ="subtitle-box">
            <span>Tweak some options</span>
        </div>
        <div class="form-box">
            <form action="" method="post" class="custom">{{ form.csrf_token }}
                <div>
                    {{ form.max_money.label(class='form-element') }}
                    {{ form.max_money }}<br>
                    {{ form.num_commits.label(class='form-element') }}
                    {{ form.num_commits }}<br>
                    {{ form.num_lines.label(class='form-element') }}
                    {{ form.num_lines }}<br>
                    {% for collab in collaborators %}
                        {{ form.__getitem__(collab).label(class='form-element') }}
                        {{ form.__getitem__(collab) }}<br>
                    {% endfor %}
                </div>
                <input type="submit" value="Continue" class="button" />
            </form>
        </div>
{% endblock %}