<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Git-Mo-Money</title>
    <meta name="description" content="Commit for money with Github and Venmo">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="title-box">
            <img src="{{ url_for('static', filename='git-mo-money.png') }}">
        </div>
        <div class ="subtitle-box">
            <span>You just paid up, you better Git Mo Money</span>
        </div>
        <div class="button-box" style="padding-top:30px">
            <a href="{{ url_for('get_started') }}">
                <div class ="button">
                    <span>Git-Mo-Money</span>
                </div>
            </a>
        </div>
        <div class="button-box">
            <a target="blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="https://twitter.com/share?url=http://git-mo-money.herokuapp.com&text=Just got paid with git-mo-money!">
                <div class="button twitter">
                    <span>Tweet</span>
                </div>
            </a>
            <a target="blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://git-mo-money.herokuapp.com&p[title]=Just got paid with git-mo-money!">
                <div class="button facebook">
                    <span>Share</span>
                </div>
            </a>
        </div>
    </div>

</body>

</html>
