html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.container {
	min-width: 100%;
	height: 100%;
	background-image: url('./background.jpg');
	background-repeat: none;
}

.title-box {
	padding-top: 160px;
	text-align: center;
	font-family: Courier;
	font-size: 76pt;
	font-weight: 600;
	color: yellow;
}

.title-box-small {
	padding-top: 20px;
	padding-left: 40px;
	text-align: left;
	font-family: Courier;
	font-size: 42pt;
	font-weight: 600;
	color: yellow;
}

.subtitle-box {
	padding-top: 60px;
	text-align: center;
	font-family: Courier;
	font-size: 32pt;
	color: white;	
}

.button-box {
	padding-top: 130px;
	text-align: center;
}

.button {
	background-color: #19D119;
	display: inline-block;
	color: white;
	font-family: Courier;
	font-size: 32px;
	height: 75px;
	line-height: 75px;
	width: 275px;
	text-align:center;
}

.button:hover {
	background-color: #33ADD6;
}

.button:active {
	position:relative;
	top:1px;
}